// ------------- Templet Color ---------------


// ------------- My Color ---------------
$basic-white: #ffffff;
$basic-blue: #bbc8dd;
$basic-blue-dark: #8295b3;
$dark-blue: #314a74;

$basic-grey: #edeff5;
$basic-grey-dark: rgba(7, 10, 14, 0.55);
$basic-black: rgb(20, 20, 24);

$dark-red: #d93347;
$light-blue: rgb(75, 156, 231);

// ------------- Font Size ---------------
$font-extra-small: 14px;
$font-small: 16px;
$font-middle: 18px;
$font-large: 20px;
$font-extra-large: 30px;

// font family: https://ant.design/docs/spec/font#Font-Family
$font-family-content: -apple-system, BlinkMacSystemFont, 'Segoe UI',
  'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue',
  Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
  'Segoe UI Symbol';
$font-family-title: Avenir, $font-family-content;

$content-width: 1024px;
