#header-background {
  position: relative;
  top: 0;

  & h1 {
    position: fixed;
    float: left;
    left: 40px;
    top: 63px;
    color: white;
    font-size: $font-large;
    font-weight: bold;
    z-index: 30;

    &:hover {
      cursor: pointer;
      color: $basic-blue;
      text-decoration: none;
    }
  }
}

#header-background .header-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 600px;
  width: 100%;

  h2 {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    letter-spacing: 5px;
    width: 600px;
    color: white;
    font-size: 60px;
    font-weight: 500;

    & span {
      position: absolute;
      top: 90px;
      width: 400px;
      left: 50%;
      transform: translateX(-50%);
      font-size: 25px;
      font-weight: 300;
      color: $basic-blue;
    }
  }
}

.download-resume-top {
  @extend .download-resume;
  position: fixed;
  top: 50px;
  right: 50px;
  z-index: 30;
}

#header-background img {
  position: absolute;
  top: 480px;
  left: 50%;
  transform: translateX(-50%);
  width: 250px;
  height: 250px;
  border-radius: 250px;
  z-index: 30;
}

.upper-background img {
  position: relative;
  top: 0;
  object-fit: cover;
  height: 1200px;
  width: 100%;
  z-index: -20;
}
