#form-section
{
  position: relative;
  top: 0;
  height: 620px;

  & form {
    position: relative;
    top: 110px;
    left: 5%;
  }
}

.public-information-section {
  position: absolute;
  height: 620px;
  padding: 40px;
  color: white;
  font-size: $font-small;
  border-top: 5px solid rgba(128, 128, 128, 0.24);
}

@media only screen and (min-width: 900px) {
  .public-information-section {
    width: 50%;
  }
  .information-section-right
  {
    left: 50%
  }
}

@media only screen and (max-width: 900px) {
  .public-information-section,
  .information-section-right {
    width: 450px;
  }
  .information-section-right
  {
    left: 450px;
  }
}

.information-header-public {
  position: relative;
  top: 78px;
  font-size: $font-extra-large;
  
  &::after  {
    @extend .underHeaderRedStrip;
  }
}

// --------------------------------- Lift Form ------------------------------
.information-section-left {
  @extend .public-information-section;
  background: $dark-blue;

  & h2 {
    @extend .information-header-public;
    color: white;
    left: 5%;
  }

  & table {
    position: relative;
    left: 5%;
    top: 120px;
  }

  & table th {
    width: 40%;
    font-size: $font-large;
  }

  & a {
    color: white;
    font-size: $font-small;
    text-decoration: none;
  }
}

// --------------------------------- Right Form ------------------------------
.information-section-right{
  @extend .public-information-section;
  background: $basic-blue;

  & h2 {
    @extend .information-header-public;
    position: relative;
    left: 5%;
    color: black;
  }

  & form{
    position: relative;
    left: 5%;
  }
  
  & div:nth-child(1),
  div:nth-child(2){
    display: inline-block;
  }

  & input, textarea
  {
    position: relative;
    left: 0;
    font-size: $font-small;
    line-height: 2.5;
    border-bottom: 1px solid black;
    background-color: $basic-blue;
  }
    
  & textarea{
    position: relative;
    top: 20px;
    left: 5px;
  }

  & input::-webkit-input-placeholder, 
  textarea::-webkit-input-placeholder
  {
    color: white;
  }

  & button {
    position: relative;
    top: 30px;
    left: 135px;
    height: 30px;
    width: 120px;
    color: white;
    font-size: $font-large;
    font-weight: 700;
    opacity: 0.8;
    background-color: $basic-blue;
    border: 0 solid $basic-blue;
    border-radius: 20px;

    &:hover{
      color: $dark-blue;
      transition: ease .5s;
    }
  }
}

