#footer-section {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  top: -25px;
  height: 180px;
  width: 100%;
  border-top: 3px solid rgb(25, 26, 24);
  background-color: $basic-grey;
}

// ------------------------- Left footer -----------------------
#footer-section .download-resume-bottom {
  @extend .download-resume;
  position: absolute;
  left: 80px;
  top: 60px;
  color: black;
  z-index: 300;
}

.footer-left-container p {
  position: absolute;
  left: 80px;
  bottom: 27px;
  font-size: $font-extra-small;
}

// ------------------------- Right footer -----------------
.footer-social-media p {
  position: absolute;
  bottom: 27px;
  width: 250px;
  margin-left: 90px;
  font-size: $font-extra-small;
}

.footer-social-media ul {
  display: flex;
  flex-wrap: nowrap;
  position: absolute;
  top: 68px;
  margin-left: 90px;

  & li {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 20px;
  }

  & img {
    height: 30px;
    width: 30px;
    border-radius: 15%;
    z-index: 200;
    
    &:hover{
      width: 32px;
      height: 32px;
      transform: translateY(-5%);  
    }
  }
}


// ----------------------- Media Query -------------------
@media only screen and (max-width: 900px) {
  .footer-left-container {
    width: 450px;
  }
  .footer-social-media {
    left: 450px;
  }
}

@media only screen and (min-width: 900px) {
  .footer-left-container {
    width: 50%;
  }
  .footer-social-media {
    left: 50%;
  }
}