#carousel-area {
  position: relative;
  width: 100%;
  top: 626px;
  // height: 800px;
  background-color: rgb(215, 193, 235);
  border: 1px solid red;
}

#carousel-section {
  position: absolute;
  top: 0;
}

.carousel-indicators {
  position: absolute;
  top: 500px; // 暂时位置
  z-index: 10;
}

.carousel-indicators li {
  height: 10px;
  width: 50px;
  z-index: 10;
}

.about_header {
  @extend .skills-header-public;
  color: black;
  position: absolute;
  left: 10%;
  top: 80px;
  z-index: 100;
}

.carousel-item .img-1 {
  width: 100%;
  // position: absolute;
  top: 10;
  // z-index: 0;
}

.carousel a :hover {
  background-color: red;
}

.carousel-control-next,
.carousel-control-prev {
  z-index: 100;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
}

.flex-container > p {
  color: black;
  width: 45%;
  margin: 10px;
  text-align: left;
  line-height: 1.4;
}

.about_header{
    position: absolute;
    top: -10px;
    left: 10px;
}

.about_icons{
    position: absolute;
    top: -10px;
    left: 320px;
}

// 
.flex-icons{
    display: flex;
    flex-wrap: nowrap;
}

.flex-icons li{
   
}

.about_icons {
  position: absolute;
//   left: ;
}

// ------------------------------- Experience  ----------------------
.flex-container .flex-experience{
    // color: black;
  width: 30%;
//   margin: 10px;
  text-align: left;
//   line-height: 1.4;
}