@import './core/constants';
@import './core/mixins';

#footer-section{
    position: relative;
    top: 1233px;
    height: 220px;
    width: 100%;
    border: 4px solid yellowgreen ;
    background-color: $basic-grey;
}

.footer-left-container p{
    position: absolute;
    left:80px;
}

// 屏幕小于900px的情况
@media only screen and (max-width: 900px) {
    .footer-left-container {
      width: 450px;
      border: 1px solid rgb(58, 7, 7) ;
    }
    .footer-social-media
    {
      left: 450px;
    }
  }
  
  // 屏幕大于900px的情况
  @media only screen and (min-width: 900px) {
    .footer-left-container {
      width: 50%;
    }
    .footer-social-media
    {
      left: 50%
    }
  }

.download-resume-bottom {
    @extend .download-resume;
    color: black;
    position: absolute;
    left: 80px;
    top: 80px;
    &:after {
        background-color: rgb(51, 44, 33);
    }
  }
  
#footer-section div:nth-child(1) p {
    font-size: 14px;
    position: absolute;
    bottom: 27px;
}

.footer-social-media ul
{
    border: 5px solid green;
}

.footer-social-media p{
    position: absolute;
    bottom: 27px;
    width: 250px;   
    display: block; 
    margin-left: 90px;
}

.footer-flex-container{
    display: flex;
    flex-wrap: nowrap;
}

.footer-flex-container div:nth-child(1){
    height: 100%;
    border: 2px solid rgb(211, 156, 156);
}

.footer-flex-container div:nth-child(1) a {
    position: absolute;
    right: 0;
;}


.footer-flex-container div:nth-child(2){
    height: 100%;
}

.footer-social-media img
{
    height: 30px;
    width: 30px;
    border-radius: 5%;
}

.footer-social-media ul{
    display: flex;
    flex-wrap: nowrap;
    position: absolute;
    margin-left: 90px;
    top: 50px;
}

.footer-social-media ul >li{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 20px;
    background-color: indigo;
}

main
{
    border: 3px solid red;
    height: 100%;
}