// --------------------------------- Public ------------------------------
#form-section
{
  position: relative;
  top: 1200px;
  height: 600px;
}

.public-information-section {
  position: absolute;
  height: 580px;
  padding: 40px;
  color: white;
  border-top: 5px solid rgba(128, 128, 128, 0.24);
  font-size: $font-small;
}

.information-section-left {
  @extend .public-information-section;
  background: $dark-blue;
}

.information-section-right {
  @extend .public-information-section;
  background: $basic-blue;
}

#form-section form {
  position: relative;
  left: 35px;
  top: 110px;
}

@media only screen and (max-width: 900px) {
  // When screen size < 900px
  .public-information-section {
    width: 450px;
  }
  .information-section-right
  {
    left: 450px;
  }
}

@media only screen and (min-width: 900px) {
  // When screen size > 900px
  .public-information-section {
    width: 50%;
  }
  .information-section-right
  {
    left: 50%
  }
}

.information-header-public {
  position: relative;
  top: 78px;
  font-size: $font-extra-large;
  
  &::after  {
    @extend .underHeaderRedStrip;
  }
}

.information-section-left h2 {
  @extend .information-header-public;
  color: white;
  left: 4%;
}

.information-section-right h2 {
  @extend .information-header-public;
  color: black;
  left: 35px;
}

// --------------------------------- Lift Form ------------------------------
.information-table-left {
  position: relative;
  left: 4%;
  top: 120px;
}

.information-table-left th {
  font-size: $font-large;
  width: 40%;
}

.information-section-left a {
  color: white;
  font-size: $font-small;
  text-decoration: none;
}


// --------------------------------- Right Form ------------------------------
.information-section-right div:nth-child(1),
.information-section-right div:nth-child(2){
    display: inline-block;
}

.information-section-right .input-textarea {
  position: relative;
  left: 0;
  font-size: $font-small;
  border-bottom: 1px solid black;
  background-color: $basic-blue;
  line-height: 2.5;
}

.information-section-right textarea{
  position: relative;
  top: 20px;
  left: 5px;
}

.information-section-right button {
  position: relative;
  top: 30px;
  left: 135px;
  height: 30px;
  width: 120px;
  color: white;
  font-size: $font-large;
  font-weight: 700;
  opacity: 0.8;
  background-color: $basic-blue;
  border: 0 solid $basic-blue;
  border-radius: 20px;

  &:hover{
    color: $dark-blue;
    transition: ease .5s;
  }
}

.information-section-right input::-webkit-input-placeholder, 
.information-section-right textarea::-webkit-input-placeholder
{
  color: gray;
}