//--------------------------- HEADER INFORMATION ---------------------------
.header-background
{
    position: relative;
}

#header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 60px 60px 0;
  z-index: 1000;

  a {
    text-decoration: none;
  }

  .homepage {
    color: $white;
    font-size: $font-l;
    font-weight: bold;
    float: left;

    &:hover {
      color: $cyan;
    }
  }

  .download-btn {
    float: right;
    color: white;
    background-color: none;
    border: 1px solid white;
    padding: 10px 30px;
  }
}

//--------------------------- HEADER BACKGROUND ---------------------------
@import './global';
@import './information';

$basic-blue: #bcc8dc;
$basic-grey: #edeff5;
$dark-red: #d93347;
$dark-blue: #314a74;

.myheader
{
  position: absolute;
  top:295px;
  left:390px;
  color: white;
  font-size:70px;
  font-weight: 500;
  z-index: 1;
}

.Business_ex
{
  position: absolute;
  top:90px;
  left:100px;

  font-size:25px;
  font-weight: 200;
  color: $basic-blue;
  z-index: 1;

}

.mybackground
{
  position: absolute;
  margin-left: -120px;
  height:700px;
  width:100% auto;
  background-size: cover;
}

.myimage
{
    // position: absolute;
  margin-top:100px;
  width:250px;
  height:250px;
  border-radius:250px;
  border-style:solid;
  border-width:8px;
  border-color: white;
  position: absolute;
  top:400px;
  left:490px;
}

// .carousel_container
// {
//   position: relative;
//   top:500px;
// }

