//--------------------------- HEADER INFORMATION ---------------------------
@import "./global";
@import "./form.scss";

$basic-blue: #bcc8dc;
$basic-grey: #edeff5;
$dark-red: #d93347;
$dark-blue: #314a74;

.header-background {
  position: relative;
  top: 0;
}

#header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 60px 60px 0;

  a {
    text-decoration: none;
  }

  .download-btn {
    float: right;
    color: white;
    background-color: none;
    border: 1px solid white;
    padding: 10px 30px;
  }
}

.header-container {
  position: absolute;
  top: 300px;
  left: 0;
  height: 100px;
  width: 100%;
  // border: 5px solid blue;
  z-index: 10000;
}

.author-hearder {
  position: absolute;
  top: 0;
  left: 30%;
  width: 600px;
  // margin: 0 auto;
  color: white;
  font-size: 70px;
  font-weight: 500;
  z-index: 1;
}

// 屏幕小于900px的情况
@media only screen and (max-width: 900px) {
  .author-hearder, .author-img  {
    left: 220px;
  }
  
}

.business_expert {
  position: absolute;
  top: 90px;
  left: 72px;
  letter-spacing: 6px;
  font-size: 25px;
  font-weight: 300;
  color: $basic-blue;
  z-index: 1;
}

.header-background-img {
  position: absolute;
  height: 600px;
  width: 100%;
  object-fit: cover;
}

.author-img {
  @extend .author-hearder;
  width: 250px;
  height: 250px;
  border-radius: 250px;
  border-style: solid;
  border-width: 8px;
  border-color: white;
  top: 200px;
  margin-left: 100px;
  z-index: 10;
}

.download-resume-top {
  @extend .download-resume;
  position: fixed;
  top: 50px;
  right: 50px;
  z-index: 100;
}

.home-btn {
  position: fixed;
  left: 40px;
  top: 63px;
  color: white;
  font-size: $font-l;
  font-weight: bold;
  float: left;
  z-index: 100;

  &:hover {
    color: $cyan;
    text-decoration: none;
  }
}
